#submit_button {
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightcoral;
}

#sort_button {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(221, 72, 72);
}

input {
    margin: 10px;
}